<li class="list-group-item">
  <div class = "d-flex justify-content-between mr-auto">
    <div>
      From <b><%= transfer_history.from_club.name %></b> to <b><%= transfer_history.to_club.name %></b>
      at <b><%= transfer_history.date_of_transfer %></b> for <b><%= transfer_history.price %></b>
    </div>
    <% if current_user.is_admin? %>
      <%= link_to 'Edit', edit_admin_player_transfer_history_path(player_id: @player.id, id: transfer_history.id), class: "btn btn-sm btn-outline-success align-self-center", remote: true %>        
      <%= button_tag "Delete", type: 'button', class: 'btn btn-sm btn-outline-danger ml-2 js-transfer-history-destroy align-self-center', :data => {toggle: "modal", target: "#modal", href: admin_player_transfer_history_path(player_id: transfer_history.player.id, id: transfer_history.id), remote: true} %>
    <% end %>
  </div>
</li>
