<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Player</h1>
  </div>
  <%= form_for([:admin, @player]) do |f| %>
    <%= render 'layouts/shared/error_messages', object: @player %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :date_of_birth %>
      <%= f.date_field :dob, as: :date, class: 'form-control' %> 
    </div>
    <div class="form-group">
      <%= f.label :nationality %>
      <%= f.collection_select :nationality_id, Nationality.order(:name), :id, :name, include_blank: true, class: "custom-select" %>
    </div>
    <div class="form-group">
      <%= f.label :club %>
      <%= f.collection_select :club_id, Club.order(:name), :id, :name, include_blank: true, class: "custom-select" %>
    </div>
    <div class="form-group">
      <%= f.label :position %>
      <%= f.collection_select :position_id, Position.order(:name), :id, :name, include_blank: true, class: "custom-select" %>
    </div>
    <div class="form-group">
      <%= f.label :picture %>
      <div class="mx-auto mb-3" style="width: 140px;">
        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
          <%= image_tag @player.picture, class: "img-profile", style: "height: inherit; width: inherit" if @player.picture.attached? %>
        </div>
      </div>
      <%= f.file_field :picture, accept: "image/jpeg,image/gif,image/png" %>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "Cancel", admin_player_path(@player), class: "btn btn-secondary mr-2" %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
