<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">New article</h1>
  </div>
  <%= form_for([:admin, @article]) do |f| %>
    <%= render 'layouts/shared/error_messages', object: @article %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control', rows: 10 %>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "Cancel", admin_articles_path, class: "btn btn-secondary mr-2" %>
      <%= f.submit "Create", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
