<tr>
  <td class="pl-4"><%= get_no_in_table(index) %></td>
  <td>
    <%= image_tag league.logo, class: "img-profile rounded-circle", style: "height: 20px; width: 20px" if league.logo.attached? %>
    <span class="font-medium text-muted mb-0"><%= league.name %></span>
  </td>
  <td>
      <span class="text-muted"><%= league.region %></span><br>
  </td>
  <td>
      <span class="text-muted"><%= league.founded_at %></span><br>
  </td>
  <td>
    <span class="text-muted"><%= league.created_at.strftime("%I:%M%p") %>, </span>
    <span class="text-muted"><%= league.created_at.to_date %></span> 
  </td>
  <td>
    <%= link_to 'View Details', admin_league_path(league), class: "btn btn-sm btn-outline-success ml-2" %>
    <% if current_user.is_admin? %>
      <%= button_tag "Delete", type: 'button', class: 'btn btn-sm btn-outline-danger ml-2 js-league-destroy', :data => {toggle: "modal", target: "#modal", href: admin_league_path(league)} %>
    <% end %>
  </td>
</tr>
