<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit League</h1>
  </div>
  <%= form_for([:admin, @club]) do |f| %>
    <%= render 'layouts/shared/error_messages', object: @club %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :stadium %>
      <%= f.text_field :stadium, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :manager %>
      <%= f.text_field :manager, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :history %>
      <%= f.text_area :history, class: 'form-control', rows: 2 %>
    </div>
    <div class="form-group">
      <%= f.label :founded_at %>
      <%= f.date_field :founded_at, as: :date, class: 'form-control' %> 
    </div>
    <div class="form-group">
      <%= f.label :logo %>
      <div class="mx-auto mb-3" style="width: 140px;">
        <div class="d-flex justify-content-center align-items-center rounded" style="height: 140px; background-color: rgb(233, 236, 239);">
          <%= image_tag @club.logo, class: "img-profile", style: "height: inherit; width: inherit" if @club.logo.attached? %>
        </div>
      </div>
      <%= f.file_field :logo, accept: "image/jpeg,image/gif,image/png" %>
    </div>
    <div class="col d-flex justify-content-end">
      <%= link_to "Cancel", admin_club_path(@club), class: "btn btn-secondary mr-2" %>
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
