<tr>
  <td class="pl-4"><%= index %></td>
  <td>
    <h6 class="font-medium mb-0"><%= user.username %></h6>
  </td>
  <td>
    <span class="text-muted"><%= user.created_at.strftime("%I:%M%p") %>, </span>
    <span class="text-muted"><%= user.created_at.to_date %></span> 
  </td>
  <td>
      <span class="text-muted"><%= user.is_admin? ? "Admin" : "User" %></span><br>
  </td>
  <td>
    <%= link_to 'View Details', admin_user_path(user), class: "btn btn-sm btn-outline-success ml-2", remote: true %>
    <% if current_user.is_admin? && user != current_user %>
      <button type="button" class="btn btn-sm btn-outline-danger ml-2" 
      data-toggle="modal" data-target="#destroyUserModal">Delete</button>
    <% end %>
  </td>
</tr>
